@import url(reset.css);
@import url(fonts.css);

.main-block{
    width: 100%;
    height: 600px;
    color: white;
    font-size: 90px;
    font-family: 'Girassol-Regular', serif;
    margin: 120px auto;
}

.equal-block{
    width: 14.285%;
    height: 100%;
    float: left;
}

.letter{
    text-align:center;
    text-shadow: 2px 1px 8px black ;
    margin: 251px auto;
}

.a-block{
    background: linear-gradient(to top, #952318, #ed1b36);
}

.r-block{
    background: linear-gradient(to top, #bf6b84, #325c7e);
}

.s-block{
    background: linear-gradient(to top, #fb8433, #2ee7bd);
}

.e-block{
    background: linear-gradient(to top, #287741, #593d34);
}

.n-block{
    background: linear-gradient(to top, #feecbc, #ee4164);
}

.l-block{
    background: linear-gradient(to top, #b29e93, #60350c);
}